<!DOCTYPE html>

<html lang="es">
<!-- Declaracion de etiquetas de meta -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="George Shivrin">
    <meta name="keywords" content="coches con kilometraje">
    <meta name="robots" content="NOFOLLOW">
    <!-- Declaracion de estilos -->
    <link rel="stylesheet" href="../CSS/styles.css" type="text/css">
    <link rel="shortcut icon" href="../Images/fresco_logo_png.png" type="image/png">
    <title>COCHES FRESCO Contacto</title>
</head>
<body>
    <header>
        <!-- Div que contiene el logo -->
        <div id="head_img">
            <a href="../index.html"><img src="../Images/HEAD_logo.jpg" alt="logo_fresco"></a>
        </div>
    </header>
    <nav>
        <!-- Div que contiene el menú -->
        <ul>
            <li><a href="../index.html">Índice</a></li>
            <li><a href="tienda.html">Tienda</a></li>
            <li><a href="taller.html">Taller</a></li>
            <li><a href="galeria.html">Galería</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a class="active" href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <section>
        <!-- Div que contiene contacto -->
        <div id="contact">
            <h2>Contacto de centro</h2>
            <table id="contact_table">
                <tr>
                    <td>Directíon</td>
                    <td>Av. de Andalucía, 112, Chana, 18015 Granada</td>
                </tr>
                <tr>
                    <td>Teléfono</td>
                    <td>+34 555 55 55 55</td>
                </tr>
                <tr>
                    <td>Correo electrónico</td>
                    <td><a href="mailto:info@cochesfresco.es">info@cochesfresco.es</a></td>
                </tr>
                <tr>
                    <td>WEB</td>
                    <td><a href="https://coches-fresco.000webhostapp.com/index.html">coches-fresco.000webhostapp.com</a></td>
                </tr>
            </table>
            <a href="https://www.google.com/maps/@37.1983288,-3.6421563,17.51z?authuser=0&entry=ttu" id="direction"><img src="../Images/Contacto.jpg" alt="cochesfresco_direction"></a>
        </div>
    </section>
    <footer>
        <!-- Div que contiene la pie de pagina -->
        <div id="footer">
            <span><a href="http://instagram.com"><img src="../Images/INST_logo.jpg" class="logo_sm" alt="logo_instagram"></a>
            <a href="http://facebook.com"><img src="../Images/FB_logo.jpg" class="logo_sm" alt="logo_facebook"></a>        
            George Shivrin | Practica HTML y CSS | Todos los derechos reservados |</span>
        </div>
    </footer>
</body>
</html>
