<!DOCTYPE html>

<html lang="es">
<!-- Declaracion de etiquetas de meta -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="George Shivrin">
    <meta name="keywords" content="coches con kilometraje">
    <meta name="robots" content="NOFOLLOW">
    <!-- Declaracion de estilos -->
    <link rel="stylesheet" href="../CSS/styles.css" type="text/css">
    <link rel="shortcut icon" href="../Images/fresco_logo_png.png" type="image/png">
    <title>COCHES FRESCO Tienda</title>
</head>
<body>
    <header>
        <!-- Div que contiene el logo -->
        <div id="head_img">
            <a href="../index.html"><img src="../Images/HEAD_logo.jpg" alt="logo_fresco"></a>
        </div>
    </header>
    <nav>
        <!-- Div que contiene el menú -->
        <ul>
            <li><a href="../index.html">Índice</a></li>
            <li><a class="active" href="tienda.html">Tienda</a></li>
            <li><a href="taller.html">Taller</a></li>
            <li><a href="galeria.html">Galería</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <section>
        <!-- Div que contiene la pagina de tienda -->
        <div class="section">
            <header>
                <h1>Vendemos y Compramos coches</h1>
            </header>
                <p><span class="image_right"><img src="../Images/foto_2.jpeg" alt="cars"></span>
                    <span>Esta sección debe incluir información detallada sobre la empresa en su conjunto. La historia de la 
                    compañía se firma en detalle, se proporciona información sobre la dirección de la compañía y la estructura 
                    del Departamento de ventas, Departamento de compras, etc. Asegúrese de hablar sobre la experiencia de trabajar 
                    con diferentes proveedores y fabricantes. Se enumeran las marcas más famosas y grandes. Se enumeran los logros
                    históricos en ventas y adquisiciones. Se describen las diferentes tecnologías de interacción con los clientes 
                    (personas físicas y jurídicas). Y mucho, mucho más...</span></p><br>
                <br>
                <p><span class="image_left"><img src="../Images/foto_1.jpg" alt="cars"></span>
                <span>Esta sección debe incluir información detallada sobre la empresa en su conjunto. La historia de la 
                    compañía se firma en detalle, se proporciona información sobre la dirección de la compañía y la estructura 
                    del Departamento de ventas, Departamento de compras, etc. Asegúrese de hablar sobre la experiencia de trabajar 
                    con diferentes proveedores y fabricantes. Se enumeran las marcas más famosas y grandes. Se enumeran los logros
                    históricos en ventas y adquisiciones. Se describen las diferentes tecnologías de interacción con los clientes 
                    (personas físicas y jurídicas). Y mucho, mucho más...</span></p>
                <p class="image_long"><img src="../Images/tienda_long.jpg" alt="cars"></p>
        </div>
    </section>
    <footer>
        <!-- Div que contiene la pie de pagina -->
        <div id="footer">
            <span><a href="http://instagram.com"><img src="../Images/INST_logo.jpg" class="logo_sm" alt="logo_instagram"></a>
            <a href="http://facebook.com"><img src="../Images/FB_logo.jpg" class="logo_sm" alt="logo_facebook"></a>        
            George Shivrin | Practica HTML y CSS | Todos los derechos reservados |</span>
        </div>
    </footer>
</body>
</html>
